<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net48" />
  <package id="EngineIOSharp" version="1.0.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net48" />
  <package id="SocketIOSharp" version="2.0.3" targetFramework="net48" />
  <package id="Tiny.RestClient" version="1.7.1" targetFramework="net48" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net48" />
</packages>